<h1>My Profile</h1>
<p>Here you can add new interests or review current ones!</p>
<br/>
<div>
  <p style="float: left;"><img style="width: 300px" src=<%= @account.gravatar_url %>></img><p>

</div>
<div style="display:inline-block; margin: 20px">
  <div> <span style="font-weight:lighter;">Username</span>&emsp;&emsp;&ensp;&ensp;<span>  <%= @account.username %></span> </div>
  <div> <span style="font-weight:lighter;">Email</span>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<span>  <%= @account.email %></span> </div>
  <div> <span style="font-weight:lighter;">Member since</span>&emsp;&ensp;<span>  <%= @account.created_at.to_date %></span> </div>
  <span style="font-weight:lighter;">My interests</span>

  <span>
  <table>
    <tbody>
    <% @preferences.each do |user_preference| %>
      <tr>
        <td><%= user_preference['interest'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div style="font-weight:bolder;" id="button"><a href="user_preferences/new">Add preference</a></div>

  </span>
</div>
<br/>
<br/>
<br/>


<!--  <button onclick="window.location.href = 'user_preferences';">Click Here</button>-->

</form> 
