<h1>My Profile</h1>

<img style="width: 500px" src=<%= @account.gravatar_url %>></img>

<h2>Username</h2>
<h6><%= @account.username %></h6>

<h2>Email</h2>
<h6><%= @account.email %></h6>

<h2>Created At</h2>
<h6><%= @account.created_at %></h6>

<h2>Updated At</h2>
<h6><%= @account.updated_at %></h6>


<h2>My interests</h2>

<table>
  <tbody>
  <% @preferences.each do |user_preference| %>
    <tr>
      <td><%= user_preference %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  <div id="button"><a href="user_preferences/new">Add preference</a></div>



<!--  <button onclick="window.location.href = 'user_preferences';">Click Here</button>-->

</form> 
