<%= form_with(model: group_version_number, local: true) do |form| %>
  <% if group_version_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_version_number.errors.count, "error") %> prohibited this group_version_number from being saved:</h2>

      <ul>
        <% group_version_number.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
