<p id="notice"><%= notice %></p>

<h1>Similar people</h1>
<%  unless @paginable.nil? %>
  <%= paginate @paginable %>
<%= link_to_prev_page @paginable, '< Previous' %>
<%= link_to_next_page @paginable, 'Next >' %>
<% else %>
<% @paginable=@user_matches%>
<% end %>


<table style="border-collapse: separate; border-spacing: 20px; border:1">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @paginable.each do |user_match| %>
      <tr onClick="document.location.href='/user_profiles?name=<%=user_match['match']%>';">
      <td><img style="width: 200px" src="https://miro.medium.com/fit/c/256/256/0*1KAKDGdC7Sf1VBbx."><td>
        <td style="text-align:left;vertical-align:top;padding:0 text-transform: capitalize;">
        <font size="6">
        <pre><%= user_match['match'] %></font>
<%= user_match['num_matches'] %> Common interest(s)</pre>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>


<br>

