<p id="notice"><%= notice %></p>

<h1>Update Views</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @update_views.each do |update_view| %>
      <tr>
        <td><%= link_to 'Show', update_view %></td>
        <td><%= link_to 'Edit', edit_update_view_path(update_view) %></td>
        <td><%= link_to 'Destroy', update_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Update View', new_update_view_path %>
