<%= form_with(model: gro, local: true) do |form| %>
  <% if gro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gro.errors.count, "error") %> prohibited this gro from being saved:</h2>

      <ul>
        <% gro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
